<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">      
        <a class="navbar-brand" href="#">Skate Club</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>          
        </div>      
    </nav>

    <div class="card">
      <div class="card-header">
        <div class="float-start">
          <h4>Product List</h4>
        </div>
    
        <div class="float-end">
          <button type="button" class="btn btn-primary btn-sm" [routerLink]="['new']">
            New Product
          </button>
          <button type="button" class="btn btn-warning btn-sm" (click)="onRefresh()">
           To Update
          </button>
          <button routerLink="home" type="submit" class="btn btn-success btn-sm">
            Dashboard
           </button>
        </div>
      </div>
        <div class="card-body">
          <table class="table table-hover" *ngIf="products$ | async as products; else loading">
            <thead>
              <tr>
                <th>#</th>
                <th>Products</th>
                <th>Amount Purchase</th>
                <th>Amount Sold</th>
                <th>Stock</th>
                <th>Purchase Price</th>
                <th>Percentage</th>
                <th>Sale Value</th>
                <th>Phone</th>
                <th>Supplier</th>
                <th>CNPJ</th>
                <th>Functions</th>
    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.amountPurchase }}</td>
                <td>{{ product.amountSold }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.purchasePrice }}</td>
                <td>{{ product.percentage }}</td>
                <td>{{ product.saleValue }}</td>
                <td>{{ product.phone }}</td>
                <td>{{ product.supplier }}</td>
                <td>{{ product.cnpj }}</td>
                <td>
                  <span class="float-end">
                    <button class="btn btn-outline-warning ml-1 btn-sm" (click)="onEdit(product.id)">Update</button>
                    <button class="btn btn-outline-danger ml-1 btn-sm" (click)="onDelete(product)">Remove</button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #loading>
            <span>Loading list...</span>
          </ng-template>
        </div>
      </div>


  </div>
</header>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Are you sure you want to remove the product?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">No</button>
  </div>
</ng-template>

